.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.aboutUsContent {
  max-width: 1280px;
  margin: auto;

  padding: rem(70) calc(2rem + 1vw);
}

.aboutHeader {
  @include H4-Regular;
  line-height: 1.2;
}

.image {
  display: block;
  width: 400px;
  opacity: 0.5;

  @include breakpoint(webSmall) {
    width: rem(400);
  }

  @include breakpoint(webMedium) {
    width: rem(700);
  }

  @include breakpoint(webLarge) {
    width: rem(1224);
  }

  @include breakpoint(webXXLarge) {
    width: rem(1300);
  }

  @include breakpoint(webXXLarge) {
    width: rem(1400);
  }
}

.imageBackground {
  z-index: 10;
  background: black;
  display: flex;
  flex-direction: column;
  width: rem(1680);
  margin: auto;
  height: 166px;

  @include breakpoint(webSmall) {
    height: rem(120);
    width: rem(400);
  }

  @include breakpoint(webMedium) {
    height: rem(211);
    width: rem(700);
  }

  @include breakpoint(webLarge) {
    height: rem(370);
    width: rem(1224);
  }

  @include breakpoint(webXXLarge) {
    height: rem(400);
    width: rem(1300);
  }

  @include breakpoint(webXXLarge) {
    height: rem(400);
    width: rem(1400);
  }
}

.visitorsContent {
  width: 100%;
  margin-top: rem(40);
  background-color: #f8f8f8;
}

.visitorsHeader {
  width: 100%;
  height: rem(40);
  background-color: #e9e9e9;
}

.companyList {
  padding: rem(20) rem(30);
}

.companyContent {
  background-color: $white;
  padding: rem(20) rem(30);
  margin: rem(20) 0;

  li {
    list-style: none;
  }
}

.company {
  @include Tiny-Regular;
  margin-bottom: rem(5);
}

.visitorText {
  @include Small-Regular;
  margin-bottom: rem(5);
  margin-top: rem(10);
}

.visitor {
  @include Tiny-Regular;
  margin-top: rem(20);
  width: rem(150);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.deleteButton {
  margin-left: rem(20);

  padding: rem(20);

  height: rem(25);
  width: rem(25);

  border-radius: rem(2);
}

.deleteIcon {
  height: rem(20);
  width: rem(20);
}
