/*
  Author: Patrik Berggren
  Desc: CSS file for a company app
  Date: 2016-11-04
*/
/*****
*
*  General design css
*
******/
body{
  background-color: #3A3A3A;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px black;
  letter-spacing: 1px;
  font-family: Arial;
}
  h1{
    margin: 0px 0px 20px 0px;
    background-color: #979899;
    padding: 10px 10px 10px 10px;
    color: white;
    border-bottom: 1px #BCB9B9 solid;
    box-shadow: 0px 3px 2px #00EDFF;
    border-radius: 3px;
  }
    input{
      margin: 5px 0px 20px;
      height: 40px;
      width: 200px;
      border-radius: 3px;
      border: 1px solid black;
      padding-left: 20px;
      font-size: 20px;
    }
      button{
        background-color: #595959;
        border: 1px solid black;
        border-radius: 3px;
        color: white;
        width: 150px;
        font-size: 20px;
        margin-bottom: 20px;
        padding: 10px 0px;
      }
      a{
        color: white;
        margin-left: 10px;
      }
/*****
*
* Index.html CSS
*
******/
  #wrapper{
    min-width: fit-content;
    min-height: fit-content;
    text-align: center;
    border: 1px solid black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    width: 450px;
    border-radius: 3px;
  }
/*****
*
* Companies.html CSS
*
******/
  #wrapperCompanyPage{
    margin: 30px;
    border: 1px solid black;
  }
    #companyContent{
      padding: 20px;
    }
    ul li{
      display: block;
      width: 100px;
      margin: 10px 0px;
      font-size: 20px;
      padding: 10px 20px;
      border-radius: 5px;
      border: 1px solid black;
      background-color: grey;
      text-align: center;
    }
    .employees{
      margin-left: 30px;
      background-color: white;
      color: black;
      font-size: 16px;
      text-shadow: 0px 0px;
    }
    #companyContent label{
      margin-left: 40px;
    }
    #companyContent input{
      margin-left: 40px;
    }
