@import "../fonts/stylesheet.css";
@import "normalize.scss";
@import "breakpoint.scss";
@import "variables.scss";
@import "utils.scss";

// * {
//   font-size: 10px;
// }

p {
  padding: 0;
  margin: 0;
}

button:focus {
  outline: 0;
}

.tinyRegular {
  @include Tiny-Regular;
}

.marginTop10 {
  margin-top: rem(10);
}
.marginTop20 {
  margin-top: rem(20);
}
.marginTop32 {
  margin-top: rem(32);
}
.marginTop56 {
  margin-top: rem(56);
}
