$html-base: 10;
$rem-base: 10;

$primary: #000;
$secondary: #e6e4df;
$base: #f3ffaf;

$light-grey: #c2c1c1;

$success: #00b089;
$warning: #fae608;
$error: #ef4e4e;

$black: #000;
$white: #fff;

$uber: 112;
$hero: 76;
$h1: 44;
$h2: 36;
$h3: 32;
$h4: 28;
$lead: 24;
$h5: 20;
$body: 18;
$small: 16;
$caption: 14;
$tiny: 12;

// Breakpoints
$iphoneSmall: 320px;
$iphoneSemiMedium: 350px;
$iphoneMedium: 375px;
$iphoneLarge: 414px;
$webSmall: 500px;
$webMedium: 800px;
$webLarge: 1080px;
$webXLarge: 1280px;
$webXXLarge: 1900px;
