.footer {
  background: $secondary;
  color: #747474;
  border-top: 1px solid #f2f2f2;
}

.footerContent {
  margin: 0 auto;

  padding-top: rem(30);
  padding-bottom: rem(30);
  padding-left: rem(20);
  padding-right: rem(20);

  max-width: 1140px;
  width: 100%;

  @include breakpoint(webLarge) {
    padding-left: 0;
    padding-right: 0;
  }
}

.footerInnerContent {
  margin-top: rem(30);
  display: block;

  @include breakpoint(webSmall) {
    display: flex;
  }
}

.footersLists {
  li {
    list-style: none;
    font-size: 1.8rem;
    line-height: 3rem;

    a {
      @include Tiny-Regular;
      text-transform: uppercase;

      text-decoration: none;
      transition: ease 0.2s;

      &:hover {
        color: rgba(0, 0, 0, 1);
        cursor: pointer;
      }
    }
  }
}

.item {
  p {
    @include Tiny-Regular;

    color: rgb(116, 116, 116);
    text-transform: uppercase;
    font-weight: 300;
  }

  flex: 1 0 0;
  margin-top: rem(32);

  @include breakpoint(webSmall) {
    margin-top: rem(0);
  }
}
